<div class="section-2" id="section-2">
    <div class="container">

        <h2 class="h2">Преимущества компании</h2>

        <div class="section-2__block">
            <div class="section-2__block_item">
                <div class="section-2__block_item_title">Высокое <br> качество</div>
                <div class="section-2__block_item_desc">
                    Обеспечение животных качественным кормом. Разумные цены
                </div>
            </div>
            <div class="section-2__block_item">
                <div class="section-2__block_item_title">Cохранение здоровья <br> животного</div>
                <div class="section-2__block_item_desc">
                    Обеспечение животных качественным кормом. Решение проблемы протеинового питания, сохранение здоровья животного и повышение продуктивности, большой процент усвояемости продукции.
                </div>
            </div>
            <div class="section-2__block_item">
                <div class="section-2__block_item_title">Индивидуальный подход <br> к клиентам</div>
                <div class="section-2__block_item_desc">
                    — Выгодные цены <br>
                    — Индивидуальный подход к каждому клиенту. Доставка по РФ авто и ж/д транспортом
                </div>
            </div>
        </div>
        <!-- /.section-2__block -->

        <ul class="section-2__list">
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-1.png" alt="">
                </div>
                <div class="section-2__list_item_title">Свинокомплексы</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-2.png" alt="">
                </div>
                <div class="section-2__list_item_title">Животноводческие <br> фермы</div>
            </li>
            <li class="section-2__list_item">
                <div class="section-2__list_item_img">
                    <img src="../../assets/img/section-2__img-3.png" alt="">
                </div>
                <div class="section-2__list_item_title">Птицефермы</div>
            </li>
        </ul>
        <!-- /.section-2__list -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->