<div class="header">
    <div class="container">

        <div class="header__block">

            <div class="header__left">
                <div class="header__logo">СОБР+</div>
                <div class="header__logo_label">
                    Общество с ограниченной <br>
                    ответственностью
                </div>
            </div>

            <div class="header__right">
                <button class="header__btn btn-modal-call">Запросить консультацию</button>
                <ul class="header__info">
                    <li class="header__info_item">
                        <a href="mailto:sobr-2019@yandex.ru" class="header__info_mail">sobr-2019@yandex.ru</a>
                    </li>
                    <li class="header__info_item">
                        <a href="tel:+78552395677" class="header__info_tel">+7 (8552) 39-56-77</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.header__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.header -->