<div class="contacts" id="contacts">
    <div class="container">

        <h2 class="h2">контакты</h2>

        <div class="contacts__block">

            <div class="contacts__form form__block">
                <div class="form__title">Оставьте заявку</div>
                <div class="form__subtitle">
                    И мы свяжемся с Вами
                    в ближайнее время
                </div>
                <form class="form" id="contacts-form" method="POST" novalidate="novalidate">
                    <div class="contacts__form_grid">
                        <div class="form_group">
                            <label class="label" for="contacts-name">Ваше имя</label>
                            <input class="input" type="text" id="contacts-name" name="contacts_input_name" required>
                        </div>
                        <div class="form_group">
                            <label class="label" for="contacts-tel">Номер телефона</label>
                            <input class="input js-input-tel" type="tel" id="contacts-tel" name="contacts_input_tel" required>
                        </div>
                    </div>
                    <button class="form__btn">Отправить</button>
                </form>
            </div>
            <!-- /.form__block -->

            <div class="contacts__grid">
                <div class="contacts__grid_item">
                    <div class="contacts__label">Телефон для справок</div>
                    <div class="contacts__tel">
                        <a href="tel:+78552395677" class="contacts__tel_link">+7 (8552) 39-56-77</a>
                        <a href="#" class="contacts__whatsapp">
                            <img src="../../assets/img/icons/whatsapp.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="contacts__grid_item">
                    <div class="contacts__label">Почта для заявок</div>
                    <a href="mailto:sobr-2019@yandex.ru" class="contacts__mail">sobr-2019@yandex.ru</a>
                </div>
                <div class="contacts__grid_item df">
                    <div class="contacts__text">Соя полножирная экструдировання</div>
                </div>
                <div class="contacts__grid_item df">
                    <img src="../../assets/img/icons/logo-business.png" alt="">
                </div>
            </div>
            <!-- /.contacts__grid -->

        </div>
        <!-- /.contacts__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.contacts -->