<div class="section-4">
    <div class="container">

        <h2 class="h2">схема работы</h2>

        <div class="section-4__grid">
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_icon">
                    <img src="../../assets/img/icons/section-4__icon-1.png" alt="">
                </div>
                <div class="section-4__grid_item_desc">
                    Составление <br>
                    технического задания
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_icon">
                    <img src="../../assets/img/icons/section-4__icon-2.png" alt="">
                </div>
                <div class="section-4__grid_item_desc">
                    Согласование <br>
                    цены
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_icon">
                    <img src="../../assets/img/icons/section-4__icon-3.png" alt="">
                </div>
                <div class="section-4__grid_item_desc">
                    Cоставление договора, <br>
                    выставление счета
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_icon">
                    <img src="../../assets/img/icons/section-4__icon-4.png" alt="">
                </div>
                <div class="section-4__grid_item_desc">
                    Выполнение <br>
                    работ
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_icon">
                    <img src="../../assets/img/icons/section-4__icon-5.png" alt="">
                </div>
                <div class="section-4__grid_item_desc">
                    Прием работы <br>
                    заказчиком
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_icon">
                    <img src="../../assets/img/icons/section-4__icon-6.png" alt="">
                </div>
                <div class="section-4__grid_item_desc">
                    Что-то еще
                </div>
            </div>
        </div>
        <!-- /.section-4__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->