.section-4 {
  padding-top: 80px;
  background-color: $white;
}

.section-4__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 10px;
}

.section-4__grid_item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.section-4__grid_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.section-4__grid_item_desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 19px;
  color: #282828;
}