.section-3__block {
  padding: 340px 60px 60px;
  background-image: url(../../assets/img/bg/section-3.jpg);
  background-position: center bottom;
  background-size: cover;
  font-weight: bold;
  font-size: 21px;
  color: #060606;
}