<div class="section-3" id="section-3">
    <div class="container">
        <div class="section-3__block">
            Одним из новых инновационных методов кормления является экструдированная соя. Современные сельскохозяйственные животные на этой основе могут реализовать свой генетический потенциал через эффективную конверсию кормов, а производители - улучшить экономические показатели.
        </div>
        <!-- /.section-3__block -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->