<div class="section-1">
    <div class="container">

        <div class="section-1__grid">
            <div class="section-1__grid_left">
                <div class="section-1__title">
                    Высокая энергетическая ценность и большой процент сбалансированного по аминокислотному составу белка делают сою важным компонентом для включения
                    в рационы как КРС, так и птицы
                </div>
            </div>
            <div class="section-1__grid_right">

                <div class="form__block">
                    <div class="form__title">Оставьте заявку</div>
                    <div class="form__subtitle">
                        И мы свяжемся с Вами
                        в ближайнее время
                    </div>
                    <form class="form" id="s1-form" method="POST" novalidate="novalidate">
                        <div class="section-1__form_grid">
                            <div class="form_group">
                                <label class="label" for="section-1-name">Ваше имя</label>
                                <input class="input" type="text" id="section-1-name" name="s1_input_name" required>
                            </div>
                            <div class="form_group">
                                <label class="label" for="section-1-tel">Номер телефона</label>
                                <input class="input js-input-tel" type="tel" id="section-1-tel" name="s1_input_tel" required>
                            </div>
                        </div>
                        <button class="form__btn">Отправить</button>
                    </form>
                </div>
                <!-- /.form__block -->

            </div>
        </div>
        <!-- /.section-1__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-1 -->